.modal-dialog {
  max-width: unset;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.modal-content {
  border: 0;
  border-radius: 0;
}

.modal-footer {
  background-color: #FFF;
}
